<div class="container-fluid vh-100 p-0">
  <div
    class="container-fluid header d-flex align-items-center justify-content-between"
  >
    <button (click)="clear()" class="btn2">Reset</button>
    <div>
      <p class="tittle-2 m-0">{{ fechaActual | date }}</p>
    </div>
  </div>
  <div class="row h-100">
    <div class="col-12 col-md-6 p-0">
      <div class="d-flex flex-column mt-5 pt-3">
        <div class="tittle-1 mt-2 px-5">Diagnóstico de Enfermedades</div>
        <div class="tittle-2 px-5">
          Sistema experto predictor de enfermedades en base a síntomas
          ingresados
        </div>
        <div class="mt-3 d-flex justify-content-center">
          <div class="left-box">
            <div *ngFor="let index of indices">
              <div class="row">
                <div
                  class="col-9 p-2 d-flex align-items-center justify-content-center"
                >
                  <select (change)="onSelectChange($event, index)" class="">
                    <option value="" selected>
                      -- Seleccione una opción --
                    </option>
                    <option *ngFor="let sintoma of sintomas" [value]="sintoma">
                      {{ sintoma }}
                    </option>
                  </select>
                </div>
                <div
                  class="col-3 d-flex align-items-center justify-content-center"
                >
                <!---
                <button (click)="onDelete(index)" class="button">
                    <svg viewBox="0 0 448 512" class="svgIcon">
                      <path
                        d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"
                      ></path>
                    </svg>
                  </button>-->
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="my-3 d-flex justify-content-center">
          <div class="s5">
            <button class="btn" (click)="agregarSelect()">
              Añadir Sintoma
            </button>
            <br />
          </div>
        </div>

        <div class="linea-separadora"></div>

        <button class="cta" (click)="submitData()">
          <span class="hover-underline-animation"> Consultar</span>
          <svg
            id="arrow-horizontal"
            xmlns="http://www.w3.org/2000/svg"
            width="30"
            height="10"
            viewBox="0 0 46 16"
          >
            <path
              id="Path_10"
              data-name="Path 10"
              d="M8,0,6.545,1.455l5.506,5.506H-30V9.039H12.052L6.545,14.545,8,16l8-8Z"
              transform="translate(30)"
            ></path>
          </svg>
        </button>
        
      </div>
    </div>
    <div
      class="col-12 col-md-6 container2 d-flex align-items-center justify-content-center"
    >
      <div class="right-box d-flex align-items-center">
        <div class="tittle-2">
          <p class="tittle-3">Respuesta:</p>
          <p class="text-start">{{ respuesta }}</p>
          <p class="tittle-3">Enfermedad:</p>
          <p class="text-start">{{ diagnostico }}</p>
          <!--<p *ngIf="respuesta">{{ diagnostico }}</p>-->
        </div>
      </div>
    </div>
  </div>
</div>
